

<!-- put the form for search criteria here -->

<div class="container" >
  <div class="grouped_dropdown">

    <form action="/fan_groups" method="get" class="form-group">
      <div class="form-group">
        <label for="exampleSelectCity">City</label>
        <input type="text" name="city" id="city" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Filter">
      </div>
    </form>

    <div class="form-group">
      <label for="exampleSelectCategory">Category</label>
      <select class="form-control" id="exampleSelectCategory" required>
        <option value="">Select your Category</option>
        <option value="CH">Concert Hippies</option>
        <option value="SC">Stand-up Comedy</option>
        <option value="PR">Political Rally</option>
        <option value="SF">Sport Fans</option>
      </select>
    </div>


    <div class="form-group">
      <label for="exampleSelectPrice">Price</label>
      <select class="form-control" id="exampleSelectPrice" required>
        <option value="">Select your Price Range</option>
        <option value="cheap"> €0 to €50</option>
        <option value="moderate"> €51 to €100</option>
        <option value="premiu;"> €101 to €150</option>
        <option value="luxe"> €151 to €200</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleSelectGroupSize">Group Size</label>
      <select class="form-control" id="exampleSelectGroupSize" required>
        <option value="">Select your Group Size</option>
        <option value="10">up to 10 peeps</option>
        <option value="30">up to 30 peeps</option>
        <option value="+30">this is getting ridiculous (+30 peeps)</option>
      </select>
    </div>
  </div>
</div>


<!-- container and cards banner here -->


<div class="container">
  <div class="cards">

    <% @fan_groups.each do |fan_group| %>
    <div class="card-trip">

      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to fan_group.group_name, fan_group_path(fan_group) %> </h2>
          <p> <%= fan_group.description %></p>
        </div>
        <h2 class="card-trip-pricing"> <p> € </p> <%= fan_group.price %>  </h2>
      </div>
    </div>
    <% end %>

  </div>
</div>




<!--
<div class="cards">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>

</div>
 -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <form action="">
        <#!-- Your form content
      </form>
    </div>
  </div>
</div>
 #-->

<!-- questions:
how to put in specific picture for cards,  -->


<%#= link_to fan_group.group_name, fan_group_path(fan_group)  %>

<!-- <div class="form-group">
      <label for="exampleSelectCategory">Category</label>
      <select class="form-control" id="exampleSelectCategory" required>
        <option value="">Select your Category</option>
        <option value="CH">Concert Hippies</option>
        <option value="SC">Stand-up Comedy</option>
        <option value="PR">Political Rally</option>
        <option value="SF">Sport Fans</option>
      </select>
    </div> -->
