<h2>These are all your bookings:</h2>

<% current_user.bookings.each do |booking| %>
    <li><%= link_to booking.location, user_booking_path(current_user, booking) %></li>
<% end %>

<br>



<%= link_to "Create a new booking", new_user_booking_url %>



