<div class="container">


<h2>These are all your bookings:</h2>

<% current_user.bookings.each do |booking| %>
    <li><%= link_to booking.location, user_booking_path(current_user, booking) %></li>
    <%= link_to booking_path(booking), method: :delete do %>
        <i class="fas fa-times"></i>
    <% end %>

<% end %>
<br>

<%= link_to "Search for another group", fan_groups_path, class: "btn btn-primary" %>



<br>

</div>






