
.profile {
  background: white;
  display: flex;
  padding: 16px;
  box-shadow: 16px;
}

.profile-description {
  background: white;
  width: 30%;
  margin: 8px;
  text-align: center;
  margin-top: 300px;
  text-align: left;
}

.profile-picture {
  background: white;
  width: 70%;
  margin: 8px;

}

.profile-picture > img {
  max-width: 100%;

}
