
.profile {
  background: white;
  display: flex;
  padding: 16px;
  box-shadow: 16px;
}

.profile-description {
  background: white;
  width: 30%;
  margin: 8px;
  text-align: center;
  text-align: left;
}

.profile-picture {
  background: white;
  width: 70%;
  margin: 8px;

}

.profile-picture > img {
  max-width: 100%;

}


#new_booking {
 width: 200px !important;
 height: 0px;
 text-align: left;
 font-size: 15px;
 label {font-weight: normal;}
}

@media only screen and (max-width: 500px) {
  .profile-description {
    width:100%;
  }

  .profile-picture {
    width: 100%;
  }
}
